<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <meta charset="ISO-8859-1">
    <title>Programming Challenge</title>
    <!-- Stylesheets -->
    <link rel="icon" href="../assets/img/tabLogo.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/select2.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" media="screen" charset="utf-8">
    <style type="text/css" type="text/css" media="screen">
      #body-container {
      display: block;
      }
    </style>
    <!-- Stylesheets -->
  </head>
  <body onload="display_clock({{.RemainTime}}); getLanguages();">
    <div id="loading-for-data" align="center" style="display: none;">
      <img src="../assets/img/loading.gif">
    </div>
    <div id="viewLayout" style="padding-top: 10px;">
      <div id="body-container" class="container-fluid">
        <div class="row-fluid">
          <div class="span1">
            &nbsp;
          </div>
          <div class="span10">
            <div style="overflow:hidden; margin-left:180px;">
              <a href="http://www.improwised.com/">
              <img a href="http://www.improwised.com/" id="company-logo" style="float:left; height:45px; width=90px; " src="../assets/img/logo.png">
              </a>
            </div>
            <div id="main-body" style="margin-top:8px; width:80%; margin-left:180px;">
              <div style="padding:20px; min-height:50px;">
                <div id="pre-submit">
                  <form class="form-horizontal" role="form" method="POST" action="./challenges">

                  <!-- site Map -->
                   <ol class="breadcrumb">
                      <li class="Completed">1. Registration </li>
                      <li class="Completed">2. Personal Info. And Questionnaire </li>
                      <li class="Active InProgress" style="color: black;"><u>3. Programming Test </u></li>
                      <li class="Remain">4. Completed</li>
                    </ol>
                  <!--  -->
                    <fieldset>
                      <legend align="center">Programming Challenge</legend>
                      <br>
                      <div class="full-width">
                        <div class="field-label" align="right">
                        <label style="color: Red; font-size:15px" class="control-label"> Remaining Time: :  </label>
                        <label id='ct' style="color: Red; font-size:15px" ></label>
                        </div>
                        <div class="field-label"><strong>Challenge:</strong></div>
                        <!-- Markdown Editor -->
                        <div class="container-fluid">
                          <section class="row">
                            <textarea class="col-md-6 full-height" id="pad" style="font-size: 15px; display:none;">{{.Description}}</textarea>
                            <div class="col-md-6 full-height" id="markdown"></div>
                          </section>
                        </div>
                        <!-- /Markdown Editor -->
                        <!-- Select Language -->
                        <div class="row  pull-right" style="margin-right: 0;">
                          <div class="field-label">Select Language :
                            <select name="language" id="languages" onchange="onLangChange();" class="language" data-placeholder="C" style="width: 200px;">
                            </select>
                          </div>
                        </div>
                        <!-- /Select Language -->
                        <br><br>
                        <!-- Ace Editor -->
                        <!-- <div class="clearfix"> -->
                        <div id="editor" rows="20" cols="100">{{.Answer}}</div>
                        <!-- </div> -->
                        <br>
                        <div align="right">
                          <button type="button" name="runcode" class="btn btn-default" onclick="getHrResponse(this.id)" id="runCode">Run Code</button>
                          <button type="button" name="submitcode" class="btn btn-info" id="submitCode" onclick="getHrResponse(this.id)">Submit Code</button>
                        </div>
                        <!-- /Ace Editor -->
                        <br>
                      </div>
                    </fieldset>
                    <!-- Messages : Compiled/Output -->
                     <div id="loading" align="center">
                      <img src="assets/img/loading.gif" />
                     </div>
                     <br>
                     <br>
                    <div class="run-time full-width">
                      <pre class="error-output" id="status"><code></code></pre>
                      <div class="field-label" >Input</div>
                      <pre class="error-output" id="input"><code></code></pre>
                      <div class="field-label">Your Output</div>
                      <pre class="error-output" id="yourOutput"><code></code></pre>
                      <div class="field-label">Expected Output</div>
                      <pre class="error-output" id="expecteOutput"><code align="left"></code></pre>
                      <div class="field-label">Compiler Message</div>
                      <pre class="error-output" id="compilemessage"><code></code></pre>
                    </div>
                    <!-- /Messages -->
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Scripting -->
    <script type="text/javascript" src="../assets/js/index.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/select2.min.js"></script>
    <script type="text/javascript" src="../assets/js/showdownjs/dist/showdown.min.js"></script>
    <script type="text/javascript" src="../assets/js/AceEditor/src-noconflict/ace.js" charset="utf-8"></script>
    <script>
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/c_cpp");
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".language").select2(); ({
          placeholder: 'C'
        });
      });
    </script>
    <!-- /Scripting -->
  </body>
</html>