<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Improwised Admin</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/sb-admin.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/morris.css" rel="stylesheet" type="text/css">
    <link href="../assets/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../assets/css/select2.min.css" type="text/css" charset="utf-8">
  </head>

  <body>
    <div id="wrapper">

      <!-- Navigation -->

      <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">

        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
          <a class="navbar-brand" href="http://www.improwised.com/">Improwised</a>
        </div>

        <!-- /.Brand and toggle get grouped for better mobile display -->

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

        <div class="collapse navbar-collapse navbar-toggleable-sm navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav list-group">
            <li class="list-group-item">
              <a href="/questions"><i class="fa fa-fw fa-bar-chart-o"></i> Questions</a>
              <a href="programmingtest"><i class="fa fa-fw fa-bar-chart-o"></i> Programming Challenges</a>
              <a href="candidates"><i class="fa fa-fw fa-bar-chart-o"></i> Candidates</a>
            </li>
          </ul>
        </div>

        <!-- /.Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

      </nav>

      <!-- /.Navigation -->

      <div id="page-wrapper">
        <div class="container-fluid">

          <!-- Page Heading -->

          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">
                Dashboard <small>Statistics Overview</small>
              </h1>
              <ol class="breadcrumb">
                <li class="active">
                  <i class="fa fa-dashboard"></i> Candidates
                </li>
              </ol>
            </div>
          </div>

          <!-- /Pahe Heading -->

          <!-- Search Menu -->

          <div class="form-group">
            <div class="col-sm-2" >
              <select name="select2" id="year" onchange="searchCandidates();" class="select2" style="width: 250px;">
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                 <option value="2020">2020</option>
              </select>
            </div>

            <div class="col-sm-2">
              <input type="text" class="form-control" name="search" id="name" style="width: 200px; height: 30px;" value="" onkeyup="searchCandidates()" placeholder="Search by Name/Email">
            </div>

            <div class="col-sm-2">
              <input type="text" class="form-control" name="degree" id="degree" style="width: 200px; height: 30px;" value="" onkeyup="searchCandidates()" placeholder="Search by Degree">
            </div>

            <div class="col-sm-1">
              <input type="text" class="form-control" name="college" id="college" style="width: 200px; height: 30px;" value="" onkeyup="searchCandidates()" placeholder="Search by College">
            </div>
          </div>
          <br><br>

          <!-- /Search Menu -->


          <!-- /.row -->
          <div class="row">
            <div class="col-xl-4 col-lg-12">
              <div class="card card-default">
                <div class="card-block">
                  <div class="table-responsive">
                    <table id="myTable" class="table table-bordered table-hover table-striped">
                      <thead>
                        <tr>
                          <th style="width:2px;"><a href="/candidates?fieldOfOrder=id">Id</a></th>
                          <th style="width:100px;"><a href="/candidates">Name</a></th>
                          <th style="width:100px;"><a href="/candidates">Email</a></th>
                          <th style="width:2px;"><a href="/candidates">Degree</a></th>
                          <th style="width:2px;"><a href="/candidates">College</a></th>
                          <th style="width:2px;"><a href="/candidates">Year Of Completion</a></th>
                          <th style="width:2px;"><a href="/candidates">No Of Questions Attempted</a></th>
                          <th style="width:2px;"><a href="/candidates">No. of attempts for chellange</a></th>
                          <th style="width:2px;"><a href="/candidates">Modified</a></th>
                        </tr>
                      </thead>

                      <!-- Fetch data and show in table -->

                      <tbody>
                        {{with .}}
                        {{range .}}
                        <tr>
                          <td>{{.Id}}</td>
                          <td><a href="/personalInformation?id={{.Id}}&queAttempt={{.QuestionsAttended}}&challengeAttmpt={{.ChallengeAttempts}}">{{.Name}}</a></td>
                          <td>{{.Email}}</td>
                          <td>{{.Degree}}</td>
                          <td>{{.College}}</td>
                          <td>{{.YearOfCompletion}}</td>
                          <td>{{.QuestionsAttended}}</td>
                          <td>{{.ChallengeAttempts}}</td>
                          <td>{{.DateOnly}}</td>
                        </tr>
                        {{end}}
                        {{end}}
                      </tbody>

                      <!-- /.Fetch data and show in table -->

                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <!-- /.row -->

        </div>

        <!-- /.container-fluid -->

      </div>

      <!-- /#page-wrapper -->

    </div>
  </body>
</html>



<!-- Scripting -->

<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script> -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="../assets/js/index.js"></script>
<script type="text/javascript" src="../assets/js/select2.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $(".select2").select2(); ({
      placeholder: "Select"
    });
  });
</script>
<!-- /Scripting -->

