<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Improwised Admin</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/sb-admin.css" rel="stylesheet">
    <link href="../assets/css/morris.css" rel="stylesheet">
    <link href="../assets/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../assets/js/index.js"></script>
  </head>
  <body >
    <div id="wrapper">
      <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Improwised</a>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-toggleable-sm navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav list-group">
            <li class="list-group-item">
              <a href="/questions"><i class="fa fa-fw fa-bar-chart-o"></i> Questions</a>
              <a href="programmingtest"><i class="fa fa-fw fa-bar-chart-o"></i> Programming Challenges</a>
              <a href="candidates"><i class="fa fa-fw fa-bar-chart-o"></i> Candidates</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>
      <div id="page-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">
                Dashboard <small>Statistics Overview</small>
              </h1>

            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-12">
              <div class="card card-default">
                <div class="card-block">
                  {{with .}}
                    {{range .GetChallenge}}
                      <ul class="nav nav-tabs">
                        <li><a data-toggle="tab" href="personalInformation?id={{.Id}}&queAttempt={{.QuestionAttempted}}&challengeAttmpt={{.ChallengeAttempts}}">Personal Information</a></li>
                        <li><a data-toggle="tab" href="questionDetails?id={{.Id}}&queAttempt={{.QuestionAttempted}}&challengeAttmpt={{.ChallengeAttempts}}">Questions Details</a></li>
                        <li class="active"><a data-toggle="tab" href="#">Challenge Details</a></li>
                      </ul>
                      <div>
                        <h3>Challenge : {{ .Challenge }}</h3>
                      </div>
                    {{  end }}
                  {{  end }}
                  <br>
                  <br>

                  <div class="hello">
                    <div>
                      {{with .}}
                        {{range .GetAnswers}}
                          <div><a href="#" onclick="challengeAttempts({{.Attempt}});">Attempt - {{.Attempt}}</a></div><br>
                        {{ end }}
                      {{ end }}
                    </div>
                    <div>
                      <textarea id="sourceCode" style="width: 50%; resize: vertical; min-height:200px;outline: none;">Hello</textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../assets/js/index.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      });
    </script>
  </body>
</html>