  <html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <title>Programming Challenge</title>
    <link href="../assets/fonts/fonts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="../assets/js/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" type="text/javascript" ></script>

   <!-- will prevent copy,xut,paste even right click -->
    <script type="text/javascript">
      $(document).ready(function() {
          $('#sourceCode').bind("cut copy paste", function(e) {
              e.preventDefault();
              alert("You cannot paste text into this textbox!");
              $('#sourceCode').bind("contextmenu", function(e) {
                  e.preventDefault();
              });
          });
      });
    </script>

    <style type="text/css" media="screen">
      #body-container {
        display: block;
      }
    </style>
  </head>
  <body onload="getLanguages()">
    <div id="loading-for-data" align="center" style="display: none;">
      <img src="../assets/img/loading.gif">
    </div>
    <div id="viewLayout" style="padding-top: 10px;">
      <div id="body-container" class="container-fluid">
        <div class="row-fluid">
          <div class="span1">
              &nbsp;
          </div>
          <div class="span10">
            <div style="overflow:hidden; margin-left:180px;">
              <a href="http://www.improwised.com/">
              <img a href="http://www.improwised.com/" id="company-logo" style="float:left; height:45px; width=90px; " src="../assets/img/logo.png">
              </a>
            </div>
            <div id="main-body" style="margin-top:8px; width:80%; margin-left:180px;">
              <div style="padding:20px; min-height:50px;">
                <div id="pre-submit">
                  <form class="form-horizontal" role="form" method="POST" action="./challenges">
                    <fieldset>
                    <legend align="center">Programming Challenge</legend><br>
                      <div class="full-width">
                        <div class="field-label"><strong>Challenge: </strong>{{range .GetChallenge}}{{.Description}}{{end}}</div>
                        <br>
                        <label>Select your language : &nbsp</label>
                        <select name="language" class="language" >
                        </select>
                        <div class="">
                          <textarea name="sourceCode" id="sourceCode" class="form-control" rows="20" cols="50" >{{range .GetSource}}{{.Answer}}{{end}}</textarea>
                        </div>
                        <br>
                        <div align="right">
                          <button type="button" name="runcode" class="btn btn-default" onclick="getHrResponse(this.id)" id="runCode">Run Code</button>
                          <button type="button" name="submitcode" class="btn btn-info" id="submitCode" onclick="getHrResponse(this.id)">Submit Code</button>
                        </div>
                        <br>
                      </div>
                    </fieldset>
                      <div class="run-time full-width">
                        <div class="field-label" >Input</div>
                        <pre class="error-output" id="input"><code></code></pre>
                        <div class="field-label">Your Output</div>
                        <pre class="error-output" id="yourOutput"><code></code></pre>
                        <div class="field-label">Expected Output</div>
                        <pre class="error-output" id="expecteOutput"><code align="left"></code></pre>
                        <div class="field-label">Compiler Message</div>
                        <pre class="error-output" id="compilemessage"><code></code></pre>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
