<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Improwised Admin</title>

    <!-- Stylesheets -->

    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/sb-admin.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/morris.css">
    <link rel="stylesheet" type="text/css" href="../assets/fonts/font-awesome.min.css">

    <!-- /Stylesheets -->

  </head>
  <body onload="markdownEditor(); callAceEditor();">
    <div id="wrapper">

      <!-- Navigation -->

      <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Improwised</a>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-toggleable-sm navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav list-group">
            <li class="list-group-item">
              <a href="candidates"><i class="fa fa-fw fa-bar-chart-o "></i> Candidates</a>
              <a href="/questions"><i class="fa fa-fw fa-bar-chart-o"></i> Questions</a>
              <a href="programmingtest"><i class="fa fa-fw fa-bar-chart-o"></i> Programming Challenges</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- /Navigation -->

      <div id="page-wrapper">
        <div class="container-fluid">

        <!-- Page Heading -->

          <h1 class="page-header">
            Candidate Details
          </h1>
          <ol class="breadcrumb">
            <li class="active">
              <i class="">Challenge Information</i>
            </li>
          </ol>

          <!-- /Page Heading -->

          <!-- row -->

          <div class="row">
            <div class="col-xl-4 col-lg-12">
              <div class="card card-default">
                <div class="card-block">
                  {{with .}}
                    {{range .GetChallenge}}
                      <ul class="nav nav-tabs">
                        <li><a data-toggle="tab" href="/personalInformation?id={{.Id}}&queAttempt={{.QuestionAttempted}}&challengeAttmpt={{.ChallengeAttempts}}">Personal Information</a></li>
                        <li><a data-toggle="tab" href="questionDetails?id={{.Id}}&queAttempt={{.QuestionAttempted}}&challengeAttmpt={{.ChallengeAttempts}}">Questions Details</a></li>
                        <li class="active"><a data-toggle="tab" href="#">Challenge Details</a></li>
                      </ul>
                      <br>
                      <legend>Challenge:</legend>

                      <div class="form-group col-sm-12">
                        <textarea id="pad" style="display: none;">{{ .Challenge }}</textarea>
                        <div id="markdown" style="border: 0px; width: 100%; height: 250px"></div>
                      </div>
                    {{end}}
                  {{end}}
                  <br>
                  <br>

                  <div class="form-group required">
                    <label  class="control-label col-sm-" for="yearOfPassing">Language : </label>
                      <!-- <div class="col-sm-8"> -->
                    <label class="control-label" name="yearOfPassing" id="lang" style="width: 900px; height: 30px; text-align: left; font-weight: normal">{{range.LattestAnswer}}{{.Lang}}{{end}}</label>
                  </div>

                  <div class="mark">
                    <div>
                      {{with .}}
                        {{range .GetAnswers}}
                          <div><a href="" onclick="challengeAttempts(event,{{.Attempt}});">Attempt - {{.Attempt}}</a></div><br>
                        {{end}}
                      {{end}}
                    </div class="mark clearfix">
                    <div id="editor" rows="20" cols="180">{{range.LattestAnswer}}{{.Answer}}{{end}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- /row -->

        </div>
      </div>
    </div>

    <!-- Scripting -->

    <script type="text/javascript" src="../assets/js/index.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/showdownjs/showdown/dist/showdown.min.js"></script>

    <script src="../assets/js/ajaxorg/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
     <script type="text/javascript" src="../assets/js/jquery.min.js"></script>


    <script type="text/javascript">
      $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      });
    </script>

    <!-- /Scripting -->

  </body>
</html>