<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <title>Thank You</title>
    <link href="../assets/fonts/fonts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="../assets/js/index.js"></script>
    <style type="text/css" media="screen">
      #body-container {
        display: block;
      }
    </style>
  </head>
  <body>
    <div id="loading-for-data" align="center" style="display: none;">
      <img src="../assets/img/loading.gif">
    </div>
    <div id="viewLayout" style="padding-top: 10px;">
      <div id="body-container" class="a-fluid">
        <div class="row-fluid">
          <div class="span1">
              &nbsp;
          </div>

          <div class="span10">
            <div style="overflow:hidden; margin-left:180px;">
            <a href="http://www.improwised.com/" target="_blank">
              <img id="company-logo" style="float:left; height:55px; width=90px; " src="../assets/img/logo.png">
            </a>  
            </div>
            <div id="main-body" style="margin-top:8px; width:80%; margin-left:180px;">
              <div style="padding:20px; min-height:50px;">
                <div id="pre-submit" >
                  <fieldset>
                    <div style="padding-top:20px">
                      <p style="color: Green; font-size:25px">
                        Thank you for your interest. Check your email id for further process.
                      </p>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
