<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    
    <title>Recruitment Portal</title>

    <!-- Stylesheets -->

    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/fonts/fonts.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <style type="text/css" media="screen">
      #body-container {
        display: block;
      }
    </style>

    <!-- /Stylesheets -->

  </head>
  <body onload=confirmMsg()>
    <div id="loading-for-data" align="center" style="display: none;">
      <img src="../assets/img/loading.gif">
    </div>
    <div id="viewLayout" style="padding-top: 10px;">
      <div id="body-container" class="container-fluid">
        <div class="row-fluid">
          <div class="span1">
              &nbsp;
          </div>

          <div class="span10">
            <div style="overflow:hidden; margin-left:180px;">
              <img id="company-logo" style="float:left; height:45px; width=90px; " src="../assets/img/logo.png">
              <h2 style="background:url('') no-repeat; padding-left:10px; height:50px;line-height:45px; float:left;">Apply for a Job</h2>
            </div>
            <div id="main-body" style="margin-top:8px; width:80%; margin-left:180px;">
              <div style="padding:20px; min-height:50px;">
                <div id="pre-submit">
                  <fieldset>
                    <legend>Follow these instructions</legend>
                    <div style="padding-top:20px">
                        <p>
                          In order to help pre-qualify job candidates we have created the following some required exercise as a part of the recruitment process.
                        </p>
                        <p>
                          In this exercise you will submit your email address in below mention box that responds a new link to your email account.
                        </p>

                        <p>
                          Once you get this link in your account then it will be active for the next 7 days.
                        </p>
                    </div>
                  </fieldset>
                  <br>
                  <strong>Now continuing the further process after submitting Email.</strong>
                  <div style="height:20px">&nbsp;</div>
                  <fieldset>
                    <legend>Write Your Email</legend>
                    <div id="messageSent" style="color:green; font-weight:bold; text-align: center;" ></div>
                    <div id="divError" style="color:red"></div>
                    <div style="overflow:hidden;  padding-top:10px; ">
                      <div style="float:left;padding-left:5px;">
                        <form action="/index" method="get" onsubmit="return checkform(this);">
                          <input id="email" type="text" style="height:35px;width:270px;font-size:18px" name="email" placeholder="enter your email" required>
                          <input type="submit" class="btn btn-success" name="submit" value="submit" style="display: inline-block; background-color: #79b022; color : #000000">
                        </form>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripting -->

    <script type="text/javascript" src="../assets/js/index.js"></script>
    
    <!-- /Scripting -->

  </body>
</html>
