<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <title>Registration form</title>
    <link href="../assets/fonts/fonts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="../assets/js/index.js"></script>
    <style type="text/css" media="screen">
      #body-container {
        display: block;
      }
    </style>
  </head>
  <body onload="emailHidden()">
    <div id="loading-for-data" align="center" style="display: none;">
      <img src="../assets/img/loading.gif">
    </div>
    <div id="viewLayout" style="padding-top: 10px;">
      <div id="body-container" class="container-fluid">
        <div class="row-fluid">
          <div class="span1">
              &nbsp;
          </div>
          <div class="span10">
            <div style="overflow:hidden; margin-left:180px;">
              <img id="company-logo" style="float:left; height:45px; width=90px; " src="../assets/img/logo.png">
              <h2 style="background:url('') no-repeat; padding-left:10px; height:50px;line-height:45px; float:left;">Apply for a Job</h2>
            </div>
            <div id="main-body" style="margin-top:8px; width:80%; margin-left:180px;">
              <div style="padding:20px; min-height:50px;">
                <div id="pre-submit">
                  <form class="form-horizontal" role="form" method="POST" action="./challenges">
                    <input type="hidden" name="hash" id="hash">
                    <fieldset>
                    <legend>Personal information:</legend><br>{{ range .GeneralInfo}}
                      <div class="form-group required">
                        <label class="control-label col-sm-2" for="name">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="name" id="name" style="width: 250px; height: 30px;" value="{{ .Name }}" onkeyup="autoSave(this.value,this.id)" required placeholder="Enter name">
                        </div>
                      </div>
                      <div class="form-group required">
                        <label class="control-label col-sm-2" for="contact">Contact</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="contact" id="contact" style="width: 250px; height: 30px;" value="{{ .Contact }}" onkeyup="autoSave(this.value,this.id)" maxlength="10" pattern="[0-9]{10}" title="Enter your mobile number" required placeholder="Enter contact">
                        </div>
                      </div>
                      <div class="form-group required">
                        <label class="control-label col-sm-2" for="degree">Degree</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="degree" id="degree" style="width: 250px; height: 30px;" value="{{ .Degree }}" onkeyup="autoSave(this.value,this.id)" required placeholder="Enter degree">
                        </div>
                      </div>
                      <div class="form-group required">
                        <label class="control-label col-sm-2" for="college">College</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="college" id="college" style="width: 250px; height: 30px;" value="{{ .College }}" onkeyup="autoSave(this.value,this.id)"required placeholder="Enter college">
                        </div>
                      </div>
                      <div class="form-group required">
                        <label class="control-label col-sm-2" for="yearofpassing">Year Of Passing</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="yearOfCompletion" id="yearOfCompletion" style="width: 250px; height: 30px;" onkeyup="autoSave(this.value,this.id)" value="{{ .YearOfCompletion }}" placeholder="Enter year of passing" required maxlength="4" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
                        </div>
                      </div>
                      {{ end }}
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="yearofpassing">Questions:</label>
                        <div class="col-sm-10">
                        {{with .}}
                          {{range .GetQuestions}}
                            {{.Questions}}
                            <textarea name="message" id="{{.Id}}" class="form-control" rows="4" cols="50" placeholder="Write your answer here."  onkeyup="autoSave(this.value,this.id)" value = "{{.Ans}}">{{.Ans}}</textarea>
                          {{end}}
                        {{end}}
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
