<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <title>Registration form</title>
    <link href="../assets/fonts/fonts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <style type="text/css" media="screen">
      #body-container {
        display: block;
      }
    </style>
  </head>
  <body>
    <div id="loading-for-data" align="center" style="display: none;">
      <img src="../assets/img/loading.gif">
    </div>
    <div id="viewLayout" style="padding-top: 10px;">
      <div id="body-container" class="container-fluid">
        <div class="row-fluid">
          <div class="span1">
              &nbsp;
          </div>

          <div class="span10">
            <div style="overflow:hidden; margin-left:180px;">
              <img id="company-logo" style="float:left; height:45px; width=90px; " src="../assets/img/logo.png">
              <h2 style="background:url('') no-repeat; padding-left:10px; height:50px;line-height:45px; float:left;">Apply for a Job</h2>
            </div>
            <div id="main-body" style="margin-top:8px; width:80%; margin-left:180px;">
              <div style="padding:20px; min-height:50px;">
                <div id="pre-submit">
                  <form action="action_page.php">
                    <fieldset>
                      <legend>Personal information:</legend>
                      <br>
                      <table style="width:60%">
                        <tr>
                          <td width="40%" height="16">Name</td>
                          <td width="3%">:</td>
                          <td width="57%" height="16">
                            <input type="text" name="text_name" style="width: 300px; height: 30px;"value="">
                          </td>
                        </tr>
                        <tr>
                          <td width="40%" height="16">Contact</td>
                          <td width="3%">:</td>
                          <td>
                            <input type="text" name="text_contact" style="width: 300px; height: 30px;"value="">
                          </td>
                        </tr>
                        <tr>
                          <td width="40%" height="16">Degree</td>
                          <td width="3%">:</td>
                          <td>
                            <input type="text" name="text_degree" style="width: 300px; height: 30px;"value="">
                          </td>
                        </tr>
                        <tr>
                          <td width="40%" height="16">College</td>
                          <td width="3%">:</td>
                          <td>
                            <input type="text" name="text_college" style="width: 300px; height: 30px;"value="">
                          </td>
                        </tr>
                        <tr>
                          <td width="40%" height="16">Year Of Completion</td>
                          <td width="3%">:</td>
                          <td>
                            <input type="text" name="text_yearOfCompletion" style="width: 300px; height: 30px;"value="">
                          </td>
                        </tr>                                          
                      </table>
                      <br>
                      <table width="50%">
                        <tr>
                          <td width="40%" height="16" text-decoration: underline>Questions</td>
                        </tr>                         
                        <tr>
                          <td>1 - </td>
                        </tr>
                        <tr>
                          <td>
                            <textarea name="message1" rows="4" cols="60" placeholder="Write your answer here."></textarea>
                          </td>
                        </tr>
                        <tr>
                          <td>2 - </td>
                        </tr>
                        <tr>
                          <td>
                            <textarea name="message2" rows="4" cols="60" placeholder="Write your answer here."></textarea>
                          </td>
                        </tr>
                        <tr>
                          <td>3 - </td>
                        </tr>
                        <tr>
                          <td>
                            <textarea name="message3" rows="4" cols="60" placeholder="Write your answer here."></textarea>
                          </td>
                        </tr>
                        <tr>
                          <td>4 - </td>
                        </tr>
                        <tr>
                          <td>
                            <textarea name="message4" rows="4" cols="60" placeholder="Write your answer here."></textarea>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <center>
                              <input type="submit" value="Next" class="btn btn-success"
style="display: inline-block; background-color: #79b022; color : #000000">
                            </center>
                          </td>
                        </tr>
                      </table>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>