<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Improwised Admin</title>

    <!-- Stylesheets -->

    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/sb-admin.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/morris.css">
    <link rel="stylesheet" type="text/css" href="../assets/fonts/font-awesome.min.css">

    <!-- /Stylesheets -->

  </head>

  <body>
    <div id="wrapper">

      <!-- Navigation -->

      <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Improwised</a>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-toggleable-sm navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav list-group">
            <li class="list-group-item">
              <a href="candidates"><i class="fa fa-fw fa-bar-chart-o"></i> Candidates</a>
              <a href="/questions"><i class="fa fa-fw fa-bar-chart-o"></i> Questions</a>
              <a href="programmingtest"><i class="fa fa-fw fa-bar-chart-o"></i> Programming Challenges</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- /Navigation -->

      <div id="page-wrapper">
        <div class="container-fluid">

          <!-- Page Heading -->

          <h1 class="page-header">
            Candidate Details
          </h1>
          <ol class="breadcrumb">
            <li class="active">
              <i class="">Questions Information</i>  
            </li>
          </ol>

          <!-- /Page Heading -->

          <!-- /.row -->
          <div class="row">
            <div class="col-xl-4 col-lg-12">
              <div class="card card-default">
                <div class="card-block">
                  {{with .}}
                    {{range .}}
                      <ul class="nav nav-tabs">
                        <li><a data-toggle="tab" href="/personalInformation?id={{.Id}}&queAttempt={{.QuestionAttempted}}&challengeAttmpt={{.ChallengeAttempts}}">Personal Information</a></li>
                        <li class="active"><a data-toggle="tab" href="#">Questions Details</a></li>
                        <li><a data-toggle="tab" href="challengeDetails?id={{.Id}}&queAttempt={{.QuestionAttempted}}&challengeAttmpt={{.ChallengeAttempts}}">Challenge Details</a></li>
                      </ul>
                      <br><br>
                      <div class="tab-content">
                        <div id="menu1" class="tab-pane fade in active">
                          <div class="form-group">
                            <div class="col-sm-10">
                              <div class="form-group">
                                <label class="control-label col-sm-3" for="contact">Question : </label>
                                <div class="col-sm-8">
                                  <label class="control-label" name="Contact" id="Contact" style="width: 900px; height: 30px; text-align: left; font-weight: normal">{{.Questions}}</label>
                                </div>
                              </div>

                              <div class="form-group">
                                <label class="control-label col-sm-3" for="contact">Answer : </label>
                                <div class="col-sm-8">
                                  <label class="control-label" name="Contact" id="Contact" style="width: 900px; height: 30px; text-align: left; font-weight: normal">{{.Ans}}</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {{end}}
                  {{end}}
                </div>
              </div>
            </div>
          </div>

          <!-- /.row -->

        </div>

          <!-- /.container-fluid -->

      </div>

        <!-- /#page-wrapper -->

    </div>

    <!-- Scripting -->

    <script type="text/javascript" src="../assets/js/index.js"></script>

    <!-- /Scripting -->

  </body>
</html>
