<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Improwised Admin</title>

    <!-- Stylesheets -->

    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/sb-admin.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/morris.css">
    <link rel="stylesheet" type="text/css" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-select.min.css">

    <!-- /Stylesheets -->

  </head>

  <body>
    <div id="wrapper">

      <!-- Navigation -->

      <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="http://www.improwised.com/">Improwised</a>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-toggleable-sm navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav list-group">
            <li class="list-group-item">
              <a href="candidates"><i class="fa fa-fw fa-bar-chart-o"></i> Candidates</a>
              <a href="/questions"><i class="fa fa-fw fa-bar-chart-o"></i> Questions</a>
              <a href="programmingtest"><i class="fa fa-fw fa-bar-chart-o"></i> Programming Challenges</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- /Navigation -->

      <div id="page-wrapper">
        <div class="container-fluid">

          <!-- Page Heading -->

          <h1 class="page-header">
            Questions
          </h1>

          <!-- /Page Heading -->

          <ol class="breadcrumb">
            <li class="active">

              <!-- Add Modal Button -->

              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addQuestionModal">Add Question</button>

              <!-- /Add Modal Button -->

            </li>
          </ol>

          <!-- Select Menu : Active/All -->

          <div class="btn-group pull-right">
            <select name="menu" class="selectpicker pull-right" id="selection">
              <option value="./questions">Active</option>
              <option value="./allQuestions">All</option>
            </select>
          </div>

          <!-- /Select Menu : Active/All -->

          <br><br>

          <!-- Add Question Modal -->

          <div class="modal fade" id="addQuestionModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-dialog modal-lg">
               <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <h4 class="modal-title">Add Question</h4>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal" role="form" method="POST" action="./addQuestions">
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="description">Description:</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" id="description" style="width: 500px; height: 30px;"value="" required placeholder="Enter description">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="sequence">Sequence:</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" name="sequence" id="sequence" style="width: 130px; height: 30px;"value="" required placeholder="Enter sequence">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default" name = "submit" value="Submit">
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- /Add Question Modal -->

          <!-- Edit Question Modal -->

          <div class="modal fade" id="editQuestionModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-dialog modal-lg">
               <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <h4 class="modal-title">Edit Question</h4>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal" role="form" method="POST" action="./editquestion">
                      <input type="hidden" id = "qId" name="qId">
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="description">Description:</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" id="questionDescription" style="width: 500px; height: 30px;" required placeholder="Enter description">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="sequence">Sequence:</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" name="sequence" id="questionSequence" style="width: 130px; height: 30px;" required placeholder="Enter sequence">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default" name = "submit" value="Save">
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- /Edit Question Modal -->

          <!-- /.row -->
          
          <div class="row">
            <div class="col-xl-4 col-lg-12">
              <div class="card card-default">
                <div class="card-block">
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                      <thead>
                        <tr>
                          <th width="2%" class="text-center">Id</th>
                          <th>Questions</th>
                          <th width="2%" class="text-center">Sequence</th>
                          <th width="2%" class="text-center">EDIT</th>
                          <th width="2%" class="text-center">SHOW</th>
                          <th width="2%" class="text-center">ACTION</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{range .QuestionsInfo}}
                        <tr>
                          <td class="text-center">{{.Id}}</td>
                          <td>{{.Description}}</td>
                          <td class="text-center">{{.Sequence}}</td>
                          <td class="text-center"><button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editQuestionModal">Edit</button></td>
                          <td>{{if eq .Flag 1}}
                            <label class="control-label col-sm-2" for="">No</label>
                          {{else}}
                            <label class="control-label col-sm-2" for="">Yes</label>
                          {{end}}
                          </td>
                          <td class="text-center">{{if eq .Flag 1}}
                            <button type="button" class="btn btn-success" onclick="deleteQuestion({{.Id}}, this)" id = "{{.Id}}" style="cursor: pointer">
                              <span class="glyphicon"></span> Show
                            </button>
                          {{else}}
                            <button type="button" class="btn btn-danger" onclick="deleteQuestion({{.Id}}, this)" id = "{{.Id}}" style="cursor: pointer">
                              <span class="glyphicon"></span> Hide
                            </button>
                          {{end}}
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- /.row -->

        </div>

        <!-- /.container-fluid -->

      </div>

      <!-- /#page-wrapper -->

    </div>

    <!-- Scripting -->

    <script type="text/javascript" src="../assets/js/index.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        if (window.location.href.split('/')[3] === 'allQuestions') {
          $('#selection option:contains("All")').prop('selected', true);
        } else {
          $('#selection option:contains("Active")').prop('selected', true);
        }
        $("#selection").change(function() {
          location = $("#selection option:selected").val();
        });
      }); 
    </script>

    <!-- /Scripting -->

  </body>
</html>
